<header>
    <div class="navbar" fxLayout="column" fxLayoutAlign="space-between center">
        <h1> {{nameProject}} </h1>
        <div class="navbar" fxLayout="row" fxLayoutAlign="space-between">
            <div class="nav-item" ><a style="float: right;" routerLink="/">Products</a></div>
            <span> | </span>
            <div class="nav-item"><a routerLink="cart/">Cart<img style="width: 25px;" src='http://localhost:4200/assets/shopping-cart-shoppingcart-flat-icon-transparent-png-svg-vector-17.png' alt="Favicon cart"/></a></div>
        </div>
    </div>
</header>
